{%  extends "layout.html.twig" %}
{% import '/include/elements.html.twig' as elements%}
{% block contenu %}
    <div class="container"> 
        <h2>Recherche filtrée</h2>
        <form action="" method="POST">
            <div class="form-group">
                {{ elements.list("titreCli",titres, "titre","titres") }}
                {{ elements.list("villeCli",villes, "ville","villes") }}
                {{ elements.list("cpCli",cps, "cp","cps") }}
            </div>
            <button type="submit" class="btn btn-success">Voir</button>
        </form>
        {% if criteres %} <!-- Permet de vérifier si les critères existent -->
            <h4> Critères :
                {% for critere in criteres %}
                    {{ critere }} -- 
                {% endfor %}
            </h4>
            {% if desClients %} <!-- Si l'execution du code pour le filtre retourne une liste de clients alors on affiche, sinon on met un message -->
                {{ include('blocks/arrayClient.html.twig') }}
            {% else %}
                <h5> Aucun client trouvé avec ces critères</h5>
            {% endif %}
        {% endif %}
    </div>


{% endblock %}