{% extends "layout.html.twig" %}
{% block contenu %}
    <p><h2> Liste des clients : {{ nombreClient }}</h2></p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">ville</th>
            <th scope="col">Nombre de commandes</th>
        </tr>
    </thead>
    <tbody>
        {% for client in desClients %}
            <tr>
                <td>{{client.id}}</td>
                <td>{{client.nomCli}}</td>
                <td>{{client.prenomCli}}</td>
                <td>{{client.villeCli}}</td>
                <td>0</td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}