{% extends "layout.html.twig" %}
{% block contenu %}

    {% if unClient %}
        {%  set idClient = unClient.getId() %}
    {% endif %}
    {% block recherche %}
        {% include "recherche.html.twig" %}
    {% endblock %}
    {% if unClient %}
        <div class="container bg-faded">
            <p><h2> Information du client numéro {{ unClient.getId() }}</h2></p>
        <p> Prénom: {{ unClient.prenomCli }} Nom: {{ unClient.nomCli }}</p>
        <p> Adresse1 :{{ unClient.adresseRue1Cli }}
            {% if unClient.adresseRue2Cli %}
            <p> Adresse2: {{ unClient.adresseRue2Cli }}
            {% endif %}
        <p> Code postal: {{ unClient.cpCli }} Ville: {{ unClient.villeCli }}</p>
        <p> Téléphone: {{ unClient.telCli }}</p>
    </div>
{% else %}

{% endif %}

{% endblock %}
