{% extends "layout.html.twig" %}
{% block contenu %}

    {% if unClient %}
        {%  set idClient = unClient.getId() %}
    {% endif %}
    {% block recherche %}
        {% include "GestionClientView/recherche.html.twig" %}
    {% endblock %}
    {% if unClient %}
        <p><h2> Information du client numéro {{ unClient.getNoCli() }}</h2></p>
    <p>{{ unClient.prenomCli }} {{ unClient.nomCli }}</p>
    <p>{{ unClient.adresseRue1Cli }}
        {% if unClient.adresseRue2Cli %}
        <p>{{ unClient.adresseRue2Cli }}
        {% endif %}
    <p>{{ unClient.cpCli }} {{ unClient.villeCli }}</p>
    <p>{{ unClient.telCli }}</p>
{% else %}

{% endif %}

{% endblock %}
{% block footer %}
    {{ parent() }}
    Fin de l'affichage
{% endblock %}