<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="text-uppercase">id</span></th>
            <th scope="col">Titre</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Ville</th>
            <th scope="col">Numero</th>
            <th scope="col">Adresse 1</th>
            <th scope="col">Adresse 2</th>
            <th scope="col" class="text-info text-center">Commandes</th>
            <th scope="col" colspan="2" class="text-info text-center ">Gestion</th>
        </tr>
    </thead>
    <tbody>
        {% for client in desClients %}
            <tr>
                <td>{{client.id}}</td>
                <td>{{client.titreCli}}</td>
                <td>{{client.nomCli}}</td>
                <td>{{client.prenomCli}}</td>
                <td>{{client.villeCli}}</td>
                <td>{{ client.telCli }}</td>
                <td>{{ client.adresseRue1Cli }}</td>
                <td>{{ client.adresseRue2Cli }}</td>
                <td><a role="button" href="?c=GestionCommande&a=commandesUnClient&id={{ client.id }}" class="btn btn-primary">Commandes</a></td>
                <td><a class="btn btn-warning " role="button" href="?c=GestionClient&a=modifierClient&id={{ client.id }}">Modifier</a></td>
                <td><a class="btn btn-danger" role="button" href="?c=GestionClient&a=supprimerClient&id={{ client.id }}">Supprimer</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
